<div class="container">
    <div class="row">
    	<cc-spinner is-loading="gitService.isLoading" message="Loading"></cc-spinner>
        <div class="col-md-12" ng-show="gitService.isLoading==false">
        	<div class="row">
        		<div class="Users">
        			<h2 class="text-center">Users List</h2>
        			<user-tile ng-repeat="user in gitService.users" avatar-url="user.avatar_url" login="user.login" html-url="user.html_url"></user-tile>
        		</div>
        	</div>
        </div>
    </div1><!-- row-->   
</div><!-- container -->