<div class="col-md-12">
	<div class="row">
	<cc-spinner is-loading="gitService.isLoading" message="Loading"></cc-spinner>
		<div class="userInfo" ng-show="gitService.isLoading==false">
			<div class="userInfo__head">
				<img src="{{gitService.userInfo.avatar_url}}" alt="">
			</div>
			<div class="userInfo__body">
				<h3>{{gitService.userInfo.name}}</h3>
				<span>Url: {{gitService.userInfo.url}}</span>
				<span>Followers: {{gitService.userInfo.followers}}</span>
				<span>User: {{gitService.userInfo.login}}</span>
			</div>
			<div class="userInfo__followers col-md-8 col-md-offset-2">
				<user-tile ng-repeat="user in gitService.followers" avatar-url="user.avatar_url" login="user.login" html-url="user.html_url"></user-tile>
			</div>
		</div><!-- userInfo-->
	</div>
</div>