<div class="col-md-12">
	<div class="row">
	<cc-spinner is-loading="gitService.isLoading" message="Loading"></cc-spinner>
		<div class="userInfo" ng-show="gitService.isLoading==false">
			<div class="userInfo__head">
				<h2 class="text-center">User Details</h2>
				<img src="{{gitService.userInfo.avatar_url}}" alt="" class="img-circle">
			</div>
			<div class="userInfo__body">
				<h3>{{gitService.userInfo.name}}</h3>
				<span><strong>Url:</strong> {{gitService.userInfo.html_url}}</span>
				<span><strong>Followers:</strong> {{gitService.userInfo.followers}}</span>
				<span><strong>User:</strong> {{gitService.userInfo.login}}</span>
				<span><strong>Repos:</strong> {{gitService.userInfo.public_repos}}</span>
				<span ng-show="gitService.userInfo.location!=null"><strong>Location:</strong> {{gitService.userInfo.location}}</span>
				<div>
					<a class="btn btn-primary" href="#/">Go Back!</a>
				</div>
			</div>
			<div class="userInfo__followers col-md-8 col-md-offset-2">
				<h2>Followers </h2>
				<user-tile ng-repeat="user in gitService.followers" avatar-url="user.avatar_url" login="user.login" html-url="user.html_url"></user-tile>
			</div>
		</div><!-- userInfo-->
	</div>
</div>